<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign Up</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
  <%- include('common/header'); %>
<div class="card">
  <h2>SIGN UP</h2>
  <form>
    <input type="text" placeholder="Username"  class="username-input" required>
    <input type="email" placeholder="Email" required>
    <input type="password" placeholder="Password" required>
    <button type="submit">SIGN UP</button>
    <p>OR</p>
    <div class="socials">
      <a href="#" class="social"><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google"></a>
      <a href="#" class="social"><img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Facebook_icon.svg" alt="Facebook"></a>
      <a href="#" class="social"><img src="https://content.linkedin.com/content/dam/me/about/LinkedIn_Icon.jpg.original.jpg" alt="LinkedIn"></a>
    </div>
    <p>Already a user? <a href="login.html">LOGIN</a></p>
  </form>
</div>
</body>
</html>
