
h1, h2, h3 {
  display: block;
  margin-bottom: 10px; /* Adjust the margin as needed */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1067e8;
  }
  .navbar {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
  
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .card h2 {
    
    margin-bottom:20px;
  }
  
  .card form {
    display: flex;
    flex-direction: column;
  }

  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  /* Add the username-input class to apply the same styles to the username input */
input[type="text"].username-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
  
  button {
    background-color: #e91e63;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #d81b60;
  }
  
  
  
  .socials {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .social {
    margin: 0 5px;
  }
  .forgot-password {
    display: inline-block;
    margin-top: 50px;
  }
 
  
  .social img {
    width: 20px;
    height: 20px;
  }
  
  a {
    color: #e91e63;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .remember input[type="checkbox"] {
    margin-right: 5px;
  }


  
.navbar {
  background-color: #333;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:start;
}


.nav-item {
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.nav-link:hover {
  border-bottom: 2px solid white;
}




  
  
  
  /* Responsive adjustments can be added as necessary */
  